<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../js/axios.min.js"></script>
    <script src="../js/jwt.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/service/project-service.js"></script>
    <script src="../js/responseHandler.js"></script>
</head>

<body>
    <header>
        <nav class="topnav" id="myTopnav">
            <a href="dashboard.html" class="active">Home</a>
            <a href="new-project.html">Crear Proyecto</a>
            <a href="task.html">Tareas</a>
            <a href="../index.html">Salir</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </nav>
    </header>
    <main>
        <div class="filter">
            <button id="ALL" class="button-filter selected">Todos</button>
            <button id="PENDING" class="button-filter">Pendientes</button>
            <button id="IN_PROGRESS" class="button-filter">En progreso</button>
            <button id="COMPLETE" class="button-filter">Completas</button>
        </div>
        <section id="section-projects" class="projects"></section>
    </main>
    <template id="templateProject">
        <article class="project" data-status="" data-id="" style="cursor: pointer;">
            <div class="project-desc">
                <h2 class="project-title"></h2>
                <p class="project-status"></p>
            </div>
            <img src="../img/default-project.jpeg" alt="Trabajando en un proyecto">
        </article>
    </template>
    <script src="../js/filter-projects.js" defer></script>
    <script>

        if (!isTokenValid()) {
            alert("El token ha expirado o es inválido.\nEs necesario volver a iniciar sesión.");
            localStorage.removeItem("token");
            window.location.href = "../index.html";
        }

        const buttons = document.querySelectorAll('.button-filter');

        buttons.forEach(button => {
            button.addEventListener('click', (event) => {
                // Manejo de la clase 'selected'
                buttons.forEach(b => b.classList.remove('selected'));
                event.target.classList.add('selected');

                // Filtrado de proyectos
                const filterStatus = event.target.id;
                document.querySelectorAll('.project').forEach(project => {
                    project.style.display =
                        (filterStatus === 'ALL' || project.dataset.status === filterStatus) ?
                            'flex' : 'none';
                });
            });
        });

        const projects = document.getElementById('section-projects');

        getAllProjectsByUser().then(response => {

            response.data.forEach(project => {

                let template = templateProject.content.cloneNode(true);
                let article = template.querySelector('.project');

                article.setAttribute('data-status', project.status);
                article.setAttribute('data-id', project.id);

                let title = article.querySelector('.project-title');
                let status = article.querySelector('.project-status');

                title.innerText = project.title;
                status.innerText = statusToSpanish(project.status);

                article.addEventListener('click', (event) => {
                    window.location.href = `project.html?id=${article.getAttribute('data-id')}`;
                });

                projects.appendChild(article);
            });
        });

    </script>
</body>

</html>